.header {
  display: grid;
  grid-area: header;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(18px, 20%) auto;
  padding: var(--space-xl);
}

.header__filters__header {
  grid-column: 1 / 4;
}

.header .select {
  min-width: 124px;
}

.header__select__container {
  display: grid;
  grid-template-rows: repeat(2, auto);
  padding: var(--space-xl);
}

.header__select__container .label {
  animation: .35s ease-out 0s 1 fadeIn;
}

.header__select__container .label--hidden {
  animation: .35s ease-out 0s 1 fadeOut;
  opacity: 0;
}

.header__stats__header {
  grid-column: 4 / 4;
  justify-self: center;
}

.header__stats__container {
  align-self: center;
  justify-self: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
