.property-details__container {
  animation: .35s ease-out 0s 1 slideInFromLeft;
  background-color: white;
  box-shadow: 8px 0px 3px -4px rgb(68, 68, 68);
  height: 100%;
  max-width: 280px;
  min-width: 140px;
  overflow-y: auto;
  padding: var(--space-xl);
  position: absolute;
  transition: left 10s;
  z-index: 10;
  width: 25%;
}

.property-details--hidden {
  animation: .35s ease-out 0s 1 slideOutFromRight;
  transform: translateX(calc(-100% - var(--space-xl)));
}

.property-details__close-button {
  background-color: transparent;
  border: none;
  color: gray;
  float: right;
  font-weight: bolder;
  cursor: pointer;
  outline: none;
}

.property-details__fieldset {
  display: flex;
  flex-wrap: wrap;
}

.property-details__label,
.property-details__value {
  width: 100%;
}

.property-details__header {
  color: var(--color-primary);
  margin: 0;
}

.property-details__field-group--single,
.property-details__field-group--double {
  display: grid;
  grid-template-rows: repeat(2, auto);
  row-gap: var(--space-m);
  padding: var(--space-l) 0;
}

.property-details__field-group--single {
  width: 100%;
}

.property-details__field-group--double {
  width: 50%;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOutFromRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
