.select {
  background-color: white;
  border: none;
  border-bottom: var(--border-xs) solid rgb(180, 180, 180);
  cursor: pointer;
  outline: none;
  padding: var(--space-m);
}

.select--placeholder {
  color: rgb(180, 180, 180);
}
