body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  color: rgb(0, 160, 200)
}

:root {
  --space-xs: 2px;
  --space-s: 4px;
  --space-m: 8px;
  --space-l: 12px;
  --space-xl: 16px;

  --border-xs: 1px;
  --border-s: 2px;
  --border-m: 4px;
  --border-l: 6px;
  --border-xl: 8px;

  --border-radius-s: 2px;
  --border-radius-m: 4px;
  --border-radius-l: 8px;

  --color-primary: #0E8194;
  --color-secondary: #3D3F46;
}

* {
  box-sizing: border-box;
}
